// for loop magic
@keyframes flicker {
  $frame-count: 40;
  @for $i from 0 to $frame-count {
    $current-frame: 0;
    @if $i != 0 {
      $current-frame: (($i*100)/$frame-count);
    }
    #{$current-frame}% {
      opacity: #{random()}
    }
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes objectEffect {
  $frame-count: 40;
  @for $i from 0 to $frame-count {
    $current-frame: 0;
    @if $i != 0 {
      $current-frame: (($i*100)/$frame-count);
    }
    #{$current-frame}% {
      text-shadow: #{random(4)*random()}px 0 5px rgba(0, 0, 0, 0.5), #{(random(4)*random())*-1}px 0 10px rgba(255, 155, 9, 1), 0 0 3px;
      //box-shadow: #{random(4)*random()}px #{random(3)*random()}px 10px rgba(0, 0, 0, 0.5), #{(random(4)*random())*-1}px #{(random(4)*random())*-1}px 10px rgba(255,255,255,0.5), 0 0 3px;
    }
  }
  100% {
    text-shadow: 5px 0 1px rgba(0,0,0,0.5), -5px 0 1px rgba(255, 155, 9 ,0.5), 0 0 3px;
    //box-shadow: 5px 0 1px rgba(0,0,0,0.5), -5px 0 1px rgba(255,255,255,0.5), 0 0 3px;
  }
}

.crtText {
  color: #ed8709;
}

.crt::after {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.2s infinite;
}
.crt::before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 4px, 6px 100%;
  pointer-events: none;
}

.crtFlick {
  color: #ffffff;
  animation: objectEffect 3s infinite;
}
