<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragments/mainpage :: head-metadata}"></th:block>
</head>

<body>
<div class="crt crtFlick bg-dark text-primary pageDisplay">
    <div th:insert="~{fragments/mainpage :: navbar}"></div>
    <div class="pt-5 container content">
        <div class="row">
            <div class="col">
                <div juanmuscaria:markdown="#{page.about.md}"></div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/mainpage :: footer}"></div>
</div>
</body>
</html>
