<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:insert="~{fragments/mainpage :: head-metadata}"/>
</head>

<body>
<div class="crt crtFlick bg-dark text-primary pageDisplay">
    <div th:replace="~{fragments/mainpage :: navbar}"/>
    <div class="pt-5 container content">
        <p style="text-align: center;" th:text="#{page.contact}"></p>
        <div class="g-2 row row-cols-md-3 row-cols-1">
            <div class="col">
                <div class="card bg-secondary">
                    <div class="card-body text-primary">
                        <div class="card-title h5">E-Mail</div>
                        <a class="card-link"
                           href="mailto:contact@juanmuscaria.com">contact@juanmuscaria.com</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-secondary text-primary">
                    <div class="card-body">
                        <div class="card-title h5">Telegram</div>
                        <a class="card-link" href="https://t.me/juanmuscaria">@juanmuscaria</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-secondary text-primary">
                    <div class="card-body">
                        <div class="card-title h5">Discord</div>
                        <div class="card-link" juanmuscaria:markdown="'[![Discord](https://img.shields.io/discord/454062295505567744?style=flat-square&logo=discord&logoColor=%235865F2&label=discord&color=%235865F2)](https://discord.juanmuscaria.com/)'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/mainpage :: footer}"/>
</div>
</body>

</html>