$dark: #0a0603;
$secondary: #140c06;
$primary: #ffc80c;
$light: $primary;
$navbar-dark-color: $primary;
$navbar-dark-brand-color: $primary;
$navbar-dark-brand-hover-color: $primary;
$navbar-dark-hover-color: $primary;
$navbar-dark-active-color: #f8842a;

@import 'bootstrap/bootstrap.scss'; // probably there's a better way to do this, not sure though
@import './crt.scss';
@import './fonts.scss';

body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height: 100%;
}

body {
  font-family: 'Twitter Color Emoji', 'JetBrains Mono';
}

body {
  background-color: $dark;
}

html {
  background-color: $dark
}

.makeGlowText {
  text-shadow: 0 0 10px rgba(255, 155, 9 ,1)
}

.content {
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
}

.pageDisplay {
  display: flex;
  flex-direction: column;
  height: 100%;
}