<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:fragment="head-metadata">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="theme-color" content="#000000"/>
        <meta name="description" content="I'll steal your /dev/nvme*"/>
        <title th:text="#{'title.' + ${page}}">title</title>
        <link rel="stylesheet" type="text/css" href="/css/mainpage.css">
        <link rel="stylesheet" type="text/css" href="/css/fonts.css">
    </th:block>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary" th:fragment="navbar">
    <div class="container">
        <a href="/" class="navbar-brand" th:text="${page == 'duck'} ? #{nav.duck} : #{navbar.title}"></a>
        <div class="me-auto navbar-nav">
            <a th:href="@{${baseUrl}}" class="nav-link" th:classappend="${page == 'about'} ? active : ''"
               th:text="${page == 'duck'} ? #{duck} : #{navbar.link.about}"/>
            <a th:href="@{${baseUrl} + '/projects'}" class="nav-link"
               th:classappend="${page == 'projects'} ? active : ''"
               th:text="${page == 'duck'} ? #{duck} : #{navbar.link.projects}"/>
            <a th:href="@{${baseUrl} + '/contact'}" class="nav-link" th:classappend="${page == 'contact'} ? active : ''"
               th:text="${page == 'duck'} ? #{duck} : #{navbar.link.contact}"/>
            <a th:if="${page == 'duck'}" th:href="@{${baseUrl} + '/duck'}" class="nav-link active" th:text="#{duck}"/>
        </div>
    </div>
</nav>
<footer class="container mt-3" th:fragment="footer">
    <div class="justify-content-md-center row">
        <div class="col-md-auto">[<a href="https://github.com/juanmuscaria/mainpage">Src</a>]</div>
        <div class="col-md-auto">[<a href="https://juanmuscaria.com/">juanmuscaria</a><a class="ant-spin-text"
                                                                                         th:href="@{${baseUrl} + '/duck'}">©</a>2022]
        </div>
        <div class="col-md-auto">[<a href="https://github.com/juanmuscaria">Github</a>]</div>
    </div>
</footer>
</body>

</html>