<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Juanmuscaria's website" />
    <title th:text="#{title.about}">title</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<tbody>
    <div class="crt crtFlick bg-dark text-primary">
        <div th:replace="fragments/mainpage :: navbar" />
        <div class="pt-5 container">
            <div class="row">
                <div class="col">
                    <p style="text-align: center;" th:text="#{page.about.paragraph.one}"></p>
                    <p style="text-align: center;" th:text="#{page.about.paragraph.two}"></p>
                </div>
            </div>
        </div>
        <div th:replace="fragments/mainpage :: footer" />
    </div>
</tbody>

</html>