<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#000000"/>
    <meta name="description" content="juanmuscaria's website"/>
    <title th:text="#{title.about}">title</title>
    <script type="text/javascript" charset="utf-8" src="/js/boldo.js"></script>
</head>

<body onload="main()">
aaaaaaa
</body>

</html>