<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Juanmuscaria's website" />
    <title th:text="#{title.projects}">title</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
    <div class="crt crtFlick bg-dark text-primary pageDisplay">
        <div th:replace="fragments/mainpage :: navbar" />
        <div class="pt-4 container content">
            <div class="g-4 row row-cols-md-2 row-cols-1">
                <tr th:each="project: ${projects}">
                    <div class="col">
                        <div class="card bg-secondary">
                            <div class="card-body">
                                <div class="card-title h5" th:text="${project.displayName}" />
                                <p class="card-text" th:text="${project.description}" />
                                <a class="card-link"
                                    th:href="'https://github.com/' + ${project.owner} + '/' + ${project.id}">GitHub</a>
                                <div class="card-footer"
                                    th:text="'[' + ${project.lang} + '] [Stars:' + ${project.stars} + '] [Forks:' + ${project.forks} +']'" />
                            </div>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
        <div th:replace="fragments/mainpage :: footer" />
    </div>
</body>

</html>